// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: white;
  background-color: lightgrey;
  font-family: monospace;
  text-align: center;
}

a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
}

h1 {
  font-style: bold;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

form {
  margin: 100px;
}

.btn {
  margin-top: 30px;
}

p {
}
